<html>
    <head>
        <title>DynamoDB</title>
    </head>
    <body>
        <H1>DynamoDB</H1>
        <H1>Group 7</H1>
        <H2>2016A7PS0076P</H2>
        <H2>2016A7PS0113P</H2>
        <A href="http://localhost:5000/index">Home</A>
        <A href="http://localhost:5000/about">About</A>
        <br>
        <H1>PUT</H1>
        <A href="http://localhost:5000/put">PUT</A>
        <br>
        <H1>GET</H1>
        <A href="http://localhost:5000/get">Get</A>
    </body>
</html>
